body {
    font-family: Arial, sans-serif;
    margin: 0;
    /* background-color: #f3f4f6;
    color: #333; */
    background-image: url(handsome.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

.container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.name {
    color: #007BFF;
}

.about {
    max-width: 800px;
    margin-top: 50px;
    background: lightgrey;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contact {
    max-width: 800px;
    margin-top: 50px;
    background: lightgrey;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

a {
    text-decoration: none;
}

.question {
    max-width: 800px;
    margin-top: 50px;
    background: lightgrey;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* section {
    text-align: center;
    margin-top: 30px;
} */

ul {
    text-align: left
}

h2 {
    color: #2c3e50;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th,
table td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

input[type="text"] {
    width: 80%;
    padding: 8px;
    margin-top: 10px;
}

button {
    padding: 8px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}